.slider {
  display: flex;
  align-items: center;
  margin: 20px;

  opacity: 0;
  transform: scale(85%);
  transition: 2s;
}

.slider--zoom {
  opacity: 1;
  transform: scale(100%);
  transition: 2s;
}
.main__div{
  display: flex;
  
}

.content {
 
  color: white;
  width: 50vw;
  background-color: grey;
  
  border: unset;
  padding-left: 30px;
  margin: 10px;
  margin-right: 2px;

}

.image{
  width: 50vw;
  padding: 20px;
  text-align: center;

}

.slider__title {
  text-align: center;
}
.content h1{
  padding: 20px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
  margin-top: 70px;
}
.content__para1{
  padding: 40px;
  margin-top: 50px;
  line-height: 1.5rem;

}
.content__para2{
  padding: 40px;
  line-height: 1.5rem;
}
.button4 {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  font-family: Arial;
  color: #000000;
  font-size: 23px;
  padding: 10px 20px 10px 20px;
  border: solid #000000 2px;
  text-decoration: none;
  background-color: transparent;
  margin-left: 30px;
}



@media screen and (max-width: 800px) {
  .slider {
    flex-direction: column;
    background-color: rgb(236, 236, 236);
  }

  .slider__image {
    width: 100%;
  }
}
